*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Arial, sans-serif;
    box-sizing: inherit;
}

:root{
    --colorbody: #000000;
    --color-01: #E6A4B4;
    --color-02: #F3D7CA;
    --color-03: #FFF8E3;
    --color-04: #F5EEE6;
}

.color-white{
    color: white;
}

.layout-center{
    margin: 0 auto;
    max-width: 80rem;
}

.uppercase{
    text-transform: uppercase;
}

/* css background title */
.section-header{
    position: relative;
    overflow: hidden;
    padding: 100px 0;
}

.section-header::before{
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.4;
}

.section-header .section-header_background{
    background: url(../../public/imgs/SanPham/Rectangle-825-min.jpeg);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-header_title{
    color: white;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 2.25rem;
}

.breadcrumb{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.breadcrumb li:last-child::before{
    content: "/";
    margin: 0 0.75rem;
    color: #cacaca;
}

.breadcrumb_link:hover{
    text-decoration: underline;
}

/* css product categories */
.section-product{
    padding: 60px 20px;
}

.section-product_header{
    font-size: 40px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.section-product_header::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7px;
    width: 110px;
    background-color: var(--color-01);
}

.product-categories_list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    grid-gap: 15px;
}

.categories_item a{
    font-size: 20px;
    font-family: "Barlow Condensed", sans-serif;
    color: #4F4F4F;
    display: block;
    padding: 10px 0;
    border: 0.7px solid var(--color-01);
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    /* animation */
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.categories_item a::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-01);
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.categories_item a:hover{
    cursor: pointer;
    color: #fff;
}

.categories_item a:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

/* css list of product categories */
.section-product{
    padding: 60px 0;
}

.header-texts{
    text-align: center;
    color: var(--color-01);
}

.sub-title span{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    position: relative;
}

.sub-title span::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 132px;
    background-color: var(--color-01);
    top: 50%;
    left: 100%;
    margin-left: 10px;
}

.sub-title span::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 132px;
    background-color: var(--color-01);
    top: 50%;
    right: 100%;
    margin-right: 10px;
}

.heading-title{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 70px;
    font-weight: 600;
    line-height: 84px;
    margin-bottom: 10px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    grid-gap: 40px;
    padding: 0 10px;
}

.product-grid .cell{
    display: block;
}

.product-container .img-product img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    will-change: transform;
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.3s;
}

.img-product img:hover{
    transform: scale(1.06);
    opacity: 0.8;
}

.name-product{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: var(--colorbody);
    transition: all 0.1s linear;
    display: block;
    margin-bottom: 10px;
}

.name-product:hover{
    color: var(--color-01);
}

.price{
    font-size: 21px;
    line-height: 1px;
    color: var(--color-01);
    position: relative;
}

.price::after{
    content: "đ";
    font-size: 15px;
    position: absolute;
    bottom: 13px;
    text-decoration: underline;
}

.product-container .img-product{
    display: block;
}

.button-product{
    margin-top: 20px;
}

.button-product a{
    color: #4F4F4F;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid;
    border-radius: 3px;
    padding: 10px 0;
    line-height: 22px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    transition: all 0.1s linear;

}

.button-product a:hover{
    color: var(--colorbody);
}

.btn-view-more{
    text-align: center;
    margin-top: 40px;
}

.btn-view-more a{
    color: var(--colorbody);
    font-family: "Barlow Condensed", sans-serif;
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    padding: 10px 30px;
    border: 1px solid #c2c2c2;
    background: transparent;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}