* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../public/imgs/cake-on-colorful-background-tasty-dessert-bakery-shop-banner-vector.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.4;
}

.wrapper form {
  padding: 20px;
  position: relative;
  z-index: 1;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  width: 350px;
}

.bottom-spacing-base-large {
  margin-bottom: 20px;
  font-weight: 600;
}

.form-row,
.password-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bottom-spacing-base {
  margin-bottom: 14px !important;
}

.remember-forgot {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
}

.wrapper label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}

#username,
#password {
  box-sizing: border-box;
  background-color: #fff;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-wrapper {
  position: relative;
}

.icon-show-password {
  position: absolute;
  right: 10px;
  top: 50%;
}

.icon-show-password i {
  cursor: pointer;
}

.fa-eye {
  display: none;
}

.form-row span {
  font-size: small;
}

.form-row a {
  color: gray;
  font-size: 15px;
}

.form-row a:hover,
.link-create-account a:hover {
  text-decoration: underline;
}

.btn-Login {
  width: 100%;
  background-color: #f6780a;
  color: white;
  height: 31px;
  padding: 3px 7px;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.2s linear;
}

.btn-Login:hover {
  background-color: #2e8b57;
}

.link-create-account {
  font-size: 15px;
}

.link-create-account a {
  color: #2d80cb;
}

@media (max-width: 315px) {
  .remember-forgot {
    display: block;
  }

  .remember-forgot > div,
  .remember-forgot a {
    width: 100%;
  }

  .remember-forgot a {
    text-align: right;
    margin-top: 5px;
    display: block;
  }

  .remember-me {
    display: flex;
    align-items: center;
  }
}
