* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Ubuntu", Arial, sans-serif;
}
body {
  background: rgba(0, 0, 0, 0.6);
  background-image: url(../../public/imgs/SanPham/Rectangle-825-min.jpeg);
  background-blend-mode: multiply;
}
.wrapper {
  min-height: 100%;
  position: relative;
}
.container {
  padding: 14px 18px;
  font-size: small;
}
.content-wrapper {
  background-color: white;
  width: 350px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.bottom-spacing-base {
  margin-bottom: 14px !important;
}
.bottom-spacing-base-large {
  margin-bottom: 20px !important;
}
.form-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.submit-btn {
  width: 100%;
  background-color: #ffc0cb;
  color: white;
  height: 31px;
  padding: 3px 7px;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
}
.submit-btn:hover {
  background-color: #deaab3;
}
.content-wrapper h1 {
  font-weight: 600;
}
label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
.input {
  box-sizing: border-box;
  background-color: #fff;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.row-divider {
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top-width: 0px;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 14px;
}
.row-divider-shadow {
  height: 44px;
  margin-bottom: -18px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
}
.row-divider-shadow::after {
  display: block;
  width: 100%;
  height: 44px;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  z-index: 1;
  content: "";
}
@media only screen and (max-width: 768px) {
  .content-wrapper {
    width: 100% !important;
    box-sizing: border-box;
  }
}
.container a {
  color: #2d80cb;
}
.container a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c45500;
}
