* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Ubuntu", Arial, sans-serif;
}
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./../../public/imgs/Rectangle-825-min.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-container > h2 {
  font-size: 2.25rem;
  color: #fff;
}
.link-back {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-back > li {
  font-size: 13px;
  color: #fff;
}
.home-li::after {
  content: "//";
  color: #fff;
  padding: 0 10px;
}
.link-back a:link {
  color: #fff;
}
.link-back a:active {
  color: #fff;
}
.recruitment-content {
  margin: 5% 20%;
}
.recruitment-content > p {
  font-weight: 300;
}
.recruitment-content > h1 {
  font-size: medium;
}
.bold-text {
  font-weight: bold;
}
